*, *::after, *::before { -webkit-box-sizing: border-box; box-sizing: border-box; }

body {
	font-family: 'Roboto Mono', monospace;
	color: #666c7b;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
	background: #f8f8f8;
	font-weight: 400;
	overflow: auto;

}

@-webkit-keyframes fadeAllIn {
	0%, 50% { opacity: 0; -webkit-transform: translate3d(-10px,0,0); transform: translate3d(-10px,0,0); }
	100% { opacity: 1; -webkit-transform: translate3d(0,0,0); transform: translate3d(0,0,0); }
}

@keyframes fadeAllIn {
	0%, 50% { opacity: 0; -webkit-transform: translate3d(-10px,0,0); transform: translate3d(-10px,0,0); }
	100% { opacity: 1; -webkit-transform: translate3d(0,0,0); transform: translate3d(0,0,0); }
}


/* Individual demo styles */

.bodyMain {
    background: #212121;
/*	background: #e8e8ec;*/
	color: #333;
	height: 100vh;
	font-family: 'Roboto Condensed', sans-serif;
}

/*
.bodyMain::after {
	content: '';
	pointer-events: none;
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	border: 20px solid #fff;
}
*/

/* Helpers */
.hidden {
	position: absolute;
	overflow: hidden;
	width: 0;
	height: 0;
	pointer-events: none;
}

/* Icons */
.icon {
	display: block;
	width: 1.5em;
	height: 1.5em;
	margin: 0 auto;
	fill: currentColor;
}

/* Header */
.codrops-header {
	margin: 2vh 0 0 10%;
	padding: 2em;
	position: relative;
}
.bodyMain .codrops-header {
	text-align: left;
	position: absolute;
	width: calc(80vw - 5px);
	top: 1vh;
	left: 15vw;
/*	height: calc(70vh - 5px);*/
/*    height: 100vh;*/
	margin: 5px 0 0 5px;
	display: -webkit-flex;
	display: -ms-flexbox;
	display: flex;
	-webkit-flex-direction: column;
	-ms-flex-direction: column;
	flex-direction: column;
	-webkit-align-items: left;
	-ms-flex-align: left;
	align-items: left;
	-webkit-justify-content: left;
	-ms-flex-pack:left;
	justify-content: left;
	-webkit-transform: translate3d(0,100px,0);
	transform: translate3d(0,100px,0);
	-webkit-animation: fadeIn 2s ease-out forwards;
	animation: fadeIn 2s ease-out forwards;
}

/*
@-webkit-keyframes fadeIn {
	0%, 40% { opacity: 0; }
	85%, 100% { opacity: 1; -webkit-transform: translate3d(0,0,0); transform: translate3d(0,0,0); }
}

@keyframes fadeIn {
	0%, 40% { opacity: 0; }
	85%, 100% { opacity: 1; -webkit-transform: translate3d(0,0,0); transform: translate3d(0,0,0); }
}
*/


.codrops-header__title {
	margin: 0;
	padding: 0 0 0.15em 0;
	font-size: 9vw;
	text-transform: uppercase;
	line-height: 0.9;
/*	font-weight: normal;*/
}

#front{
    color: white;
    font-family: 'Playfair Display', serif;
    line-height: 1;
}
.bodyMain .codrops-header__title {
/*	font-family: 'Kaushan Script', cusrive;*/
    font-family: 'Playfair Display', serif;
	text-transform: none;
	font-size: 12vw;
background: -webkit-linear-gradient(#84ffff,#18ffff);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
	margin: 0;
	padding: 0 0 0.35em;

}
.codrops-icon {
	display: block;
	padding: 0.25em 1.5em 0.25em 0;
}

.codrops-icon:last-child {
	padding-right: 0;
}


.bodyMain {
	margin: 1em 0 0 0;
}

/* Content */
.content {
	padding: 3em 0;
	position: relative;
}
.dummy {
	width: 100%;
	display: -webkit-flex;
	display: -ms-flex;
	display: flex;
	-webkit-align-items: center;
	-ms-flex-align: center;
	align-items: center;
	-webkit-justify-content: space-between;
	-ms-flex-pack: space-between;
	justify-content: space-between;
/*	padding: 20px 20px 0 20px;*/
	height: 15vh;
}

.dummy__icon {
/*	width: calc(10vw - 20px);*/
    width: 10vw;
	color: #00e5ff;
}


@media screen and (max-width: 50em) {
	.codrops-header {
		padding: 1em;
	}

	.bodyMain::after {
		border-width: 10px;
	}

	.dummy {
/*		padding: 10px 15% 0 15%;*/
        padding: 1em;
	}
	.dummy__icon {
/*		width: calc(10vw - 10px);*/
        width: 20vw;
	}
}
