body {
    background-color: black;
    line-height: 1;
}

.container {
    height: 100%;
    width: 100%;
    display: flex;
    position: fixed;
    align-items: center;
    justify-content: center;
}

h1 {
    color: white;
    /*    position: relative;*/
    /*    text-align: right;*/
    /*    font-size: 250px;*/
/*    float: right;*/
    top: 10%;
    font-size: 165px;
    line-height: 170px;
    font-weight: 700;
    letter-spacing: 2px;
    position: relative;

    font-family: 'Bree Serif', serif;

}


p{color: white;}


.color {
    color: deeppink; }


#ken {
    color: white;
    width: 15%;
    height: 10%;
    bottom: -300px;
    line-height: 28px;
    -ms-transform: rotate(270deg);
    /* IE 9 */
    -moz-transform: rotate(270deg);
    /* Firefox */
    -webkit-transform: rotate(270deg);
    /* Safari and Chrome */
    -o-transform: rotate(270deg);
    /* Opera */
}

a:hover#menu-icon {

    background-color: #fff;
    border-radius: 4px 4px 0 0;

}

@media (max-width: 575px) {
    h1 {
        position: fixed;
        font-size: 70px;
        line-height: 65px;
        left: 40px;
       
    }
    #ken {
        display: inline-flex;
        left: 350px;
        width: 1000px;
        height: 100px;
        top: 100px;
        -ms-transform: rotate(360deg);
        /* IE 9 */
        -moz-transform: rotate(360deg);
        /* Firefox */
        -webkit-transform: rotate(360deg);
        /* Safari and Chrome */
        -o-transform: rotate(360deg);
    }}

@media (max-width:767px) {}

@media (max-width:991px) {}

@media (max-width:1199px) {}
