body {
    background-color: black;

}

.container {
    height: 100%;
    width: 100%;
    display: flex;
    position: fixed;
    align-items: center;
    justify-content: center;
}

h1 {
    color: white;
    /*    position: relative;*/
    /*    text-align: right;*/
    /*    font-size: 250px;*/
    /*    float: right;*/
    top: 10%;
    font-size: 165px;
    line-height: 170px;
    font-weight: 700;
    letter-spacing: 2px;
    position: relative;

    font-family: 'Bree Serif', serif;

}


p {
    color: white;
}


.color {
    color: deeppink;
}


#ken {
    color: white;
    width: 15%;
    height: 10%;
    bottom: -300px;
    line-height: 28px;
    -ms-transform: rotate(270deg);
    /* IE 9 */
    -moz-transform: rotate(270deg);
    /* Firefox */
    -webkit-transform: rotate(270deg);
    /* Safari and Chrome */
    -o-transform: rotate(270deg);
    /* Opera */
}

#kena {
    color: white;
    width: 15%;
    height: 10%;
    left: 200px;
    bottom: -100px;
    line-height: 28px;
    -ms-transform: rotate(270deg);
    /* IE 9 */
    -moz-transform: rotate(270deg);
    /* Firefox */
    -webkit-transform: rotate(270deg);
    /* Safari and Chrome */
    -o-transform: rotate(270deg);
    /* Opera */
}

a {

    color: #fff;
    text-decoration: none;
    font-weight: bold;

}

a:hover {

    color: deeppink;
    text-decoration: none;

}


nav {
    float: right;
    padding: 20px;
}


ul {
    list-style: none;
}

li {
    display: inline-block;
    float: left;
    padding: 10px
}




@media (max-width: 575px) {
    h1 {
        position: fixed;
        font-size: 70px;
        line-height: 60px;
        left: 40px;

        
    }
    #ken {
        display: inline-flex;
        left: 350px;
        width: 900px;
        height: 250px;
        top: 100px;

        -ms-transform: rotate(360deg);
        /* IE 9 */
        -moz-transform: rotate(360deg);
        /* Firefox */
        -webkit-transform: rotate(360deg);
        /* Safari and Chrome */
        -o-transform: rotate(360deg);
    }
    #kena{
        display: inline-flex;
        left: 550px;
        width: 900px;
/*        height: 100px;*/
      bottom: 330px;

        -ms-transform: rotate(360deg);
        /* IE 9 */
        -moz-transform: rotate(360deg);
        /* Firefox */
        -webkit-transform: rotate(360deg);
        /* Safari and Chrome */
        -o-transform: rotate(360deg); 
    }
}

@media (max-width:767px) {
    h1 {
        position: fixed;
        font-size: 90px;
        line-height: 70px;
        left: 40px;

    }
    #ken {

        display: inline-flex;
        left: 430px;
        width: 1200px;
        height: 100px;
        top: 90px;

        -ms-transform: rotate(360deg);
        /* IE 9 */
        -moz-transform: rotate(360deg);
        /* Firefox */
        -webkit-transform: rotate(360deg);
        /* Safari and Chrome */
        -o-transform: rotate(360deg);
    }
    #kena{
        display: inline-flex;
        left: 550px;
        width: 900px;
/*        height: 100px;*/
      bottom: 330px;

        -ms-transform: rotate(360deg);
        /* IE 9 */
        -moz-transform: rotate(360deg);
        /* Firefox */
        -webkit-transform: rotate(360deg);
        /* Safari and Chrome */
        -o-transform: rotate(360deg); 
    }
}

@media (max-width:991px) {
    h1 {
        position: fixed;
        font-size: 100px;
        line-height: 90px;
        left: 50px;

    }

    #ken {

        display: inline-flex;
        left: 570px;
        width: 1500px;
        height: 100px;
        top: 110px;
        font-size: 17px;

        -ms-transform: rotate(360deg);
        /* IE 9 */
        -moz-transform: rotate(360deg);
        /* Firefox */
        -webkit-transform: rotate(360deg);
        /* Safari and Chrome */
        -o-transform: rotate(360deg);
    }
}

@media (max-width:1199px) {
    h1 {
        position: fixed;
        font-size: 100px;
        line-height: 100px;
        left: 50px;

    }
    #ken {

        display: inline-flex;
        left: 580px;
        width: 1500px;
        height: 100px;
        top: 180px;

        -ms-transform: rotate(360deg);
        /* IE 9 */
        -moz-transform: rotate(360deg);
        /* Firefox */
        -webkit-transform: rotate(360deg);
        /* Safari and Chrome */
        -o-transform: rotate(360deg);
    }
}
