body{
    background-color: black;
}

h1{
    color: white;
    position: relative;
    text-align: center;
    font-size: 30vmin;
    top: 5px;
    font-family: 'Mukta Malar', sans-serif;
    left: 150px;
    
}
#hel{
    top: 15rem;
}
#stop{
    color: deeppink;
    font-size: 10rem;
    border-radius: 50%;
    top: 3rem;
    left: 12rem;
}
p{
    color: white;
}

a {

	color: white;
	text-decoration: none;
	font-weight: bold;
    font-size: 1.2em;

}
a:hover {

	color:deeppink;

}
nav {

	float: right;
	padding: 10px;	

}
a:hover#menu-icon {

	background-color: #fff;
	border-radius: 4px 4px 0 0;

}
ul {
    list-style-type:none;
    display: inline;
    position: fixed;
    
    }
li {

	display: inline-block;
	float: left;
	padding: 10px

}
.container {
  height: 100%;
  width: 100%;
  display: flex;
  position: fixed;
  align-items: center;
  justify-content: center;
    
    
}
#ken{
    color: white;
    /*top:25em;*/
    /*transform: rotate3d(1, 2, -1, 200deg);*/
    /*transform: rotate(90deg);*/
    width:130px;
    height:300px;
    bottom: -400px;
  -ms-transform:rotate(270deg); /* IE 9 */
  -moz-transform:rotate(270deg); /* Firefox */
  -webkit-transform:rotate(270deg); /* Safari and Chrome */
  -o-transform:rotate(270deg); /* Opera */
   
}
#na{
     width:-130px;
    height:200px;
    bottom: -300px;
    left: 400px;
  -ms-transform:rotate(270deg); /* IE 9 */
  -moz-transform:rotate(270deg); /* Firefox */
  -webkit-transform:rotate(270deg); /* Safari and Chrome */
  -o-transform:rotate(270deg); /* Opera */
}
#conabo{
    top: 30em;
}